.wallet-info-section-root.wallet-info.wallet-info-section {
    padding-bottom: 1rem;
    border-bottom: 1px black solid;

    .heading {
        border-bottom: 1px black solid;
        margin-bottom: .5rem;
    }
}